// Custom.scss

/* First, include any default SCSS variables here, which override existing BS colors: */
$primary: #00263A;/* Deep Space Blue */
$secondary: #0E4C87;/* "Tonal" */
$tertiary: #FEBE3F;/* Space Gold */
$light: #EDF2F5;
$green: #006C50;/* success */
$yellow: #F8BD49;/* warning */
$red: #B3261E;
$info: #4ED8E7;

$gray-100: #E1E4E6;
$gray-200: #C5C8CA;
$gray-300: #AAADAE;
$gray-400: #909394;
$gray-500: #757879;
$gray-600: #5D6062;
$gray-700: #464849;
$gray-800: #303233;
$gray-900: #1B1E1F;


/* Second, additional new vars for BS: */
:root,
[data-bs-theme=light] {
	--bs-gray99: #FAFDFF;
	--bs-gray95: #EEF2F4;
	--bs-gray90: #E1E4E6;
	--bs-gray80: #C5C8CA;
	--bs-gray70: #AAADAE;
	--bs-gray60: #909394;
	--bs-gray50: #757879;
	--bs-gray40: #5D6062;
	--bs-gray30: #464849;
	--bs-gray20: #303233;
	--bs-gray10: #1B1E1F;
	--bs-gray-var99: #F8FEFF;
	--bs-gray-var95: #EEF6FA;
	--bs-gray-var90: #E0E8EC;
	--bs-gray-var80: #C4CCD0;
	--bs-gray-var70: #A9B0B4;
	--bs-gray-var60: #8F9599;
	--bs-gray-var50: #747A7E;
	--bs-gray-var40: #5D6366;
	--bs-gray-var30: #454B4F;
	--bs-gray-var20: #2F3437;
	--bs-gray-var10: #1A1F22;	
	--bs-primary99: #FCFCFF;
	--bs-primary95: #E5F2FF;
	--bs-primary90: #C9E6FF;
	--bs-primary80: #89CEFF;
	--bs-primary70: #57B4EE;
	--bs-primary60: #3599D2;
	--bs-primary50: #007FB5;
	--bs-primary40: #006591;
	--bs-primary30: #004C6E;
	--bs-primary20: #00344D;
	--bs-primary: #00263A;
	--bs-secondary99: #FDFCFF;
	--bs-secondary95: #EBF1FF;
	--bs-secondary90: #D4E3FF;
	--bs-secondary80: #A4C9FF;
	--bs-secondary70: #75AEF8; 
	--bs-secondary60: #5993dc; 
	--bs-secondary50: #3C79C0;
	--bs-secondary40: #1A60A5;
	--bs-secondary: #0E4C87;
	--bs-secondary20: #00315D;
	--bs-secondary10: #001C39;
	--bs-tertiary99: #FFFBFF;
	--bs-tertiary95: #FFEED8;
	--bs-tertiary90: #FFDEA9;
	--bs-tertiary: #FEBE3F;
	--bs-tertiary70: #DCA120;
	--bs-tertiary60: #BD8700;
	--bs-tertiary50: #9C6F00;
	--bs-tertiary40: #7D5800;
	--bs-tertiary30: #5E4100;
	--bs-tertiary20: #422C00;
	--bs-tertiary10: #271900;
	--bs-success99: #F4FFF7;
	--bs-success95: #BCFFE2;
	--bs-success90: #84F8CC;
	--bs-success80: #67DBB1;
	--bs-success70: #48BF97;
	--bs-success60: #22A37D;
	--bs-success50: #008766;
	--bs-success: #006C50;
	--bs-success30: #00513C;
	--bs-success20: #003828;
	--bs-success10: #002116;
	--bs-warning99: #FFFBFF;
	--bs-warning95: #FFEED8;
	--bs-warning90: #FFDEA8;
	--bs-warning: #F8BD49;
	--bs-warning70: #DAA22F;
	--bs-warning60: #BC8710;
	--bs-warning50: #9C6F00;
	--bs-warning40: #7C5800;
	--bs-warning30: #5E4200;
	--bs-warning20: #422D00;
	--bs-warning10: #271900;
	--bs-danger99: #FFFBF9;
	--bs-danger95: #FCEEEE;
	--bs-danger90: #F9DEDC;
	--bs-danger80: #F2B8B5;
	--bs-danger70: #EC928E;
	--bs-danger60: #E46962;
	--bs-danger50: #DC362E;
	--bs-danger: #B3261E;
	--bs-danger30: #8C1D18;
	--bs-danger20: #601410;
	--bs-danger10: #410E0B;
	--bs-interactive99: #FDFCFF;
	--bs-interactive95: #EAF1FF;
	--bs-interactive90: #D3E4FF;
	--bs-interactive80: #A2C9FF;
	--bs-interactive70: #6CAEFF;
	--bs-interactive60: #4B93E5;
	--bs-interactive: #2979C9;
	--bs-interactive40: #0060AA;
	--bs-interactive30: #004882;
	--bs-interactive20: #00315C;
	--bs-interactive10: #001C38;
	--bs-info99: #F5FEFF;
	--bs-info95: #CBF9FF;
	--bs-info90: #8AF2FF;
	--bs-info: #4ED8E7;
	--bs-info70: #20BCCB;
	--bs-info60: #00A0AD;
	--bs-info50: #00848F;
	--bs-info40: #006972;
	--bs-info30: #004F56;
	--bs-info20: #00363B;
	--bs-info10: #001F23;
	--bs-gray-95: #EEF2F4;
	--bs-gray-99: #FAFDFF;
	--bs-grayvar-100: #E0E8EC;
	--bs-grayvar-200: #C4CCD0;
	--bs-grayvar-300: #A9B0B4;
	--bs-grayvar-400: #8F9599;
	--bs-grayvar-500: #747A7E;
	--bs-grayvar-600: #5D6366;
	--bs-grayvar-700: #454B4F;
	--bs-grayvar-800: #2F3437;
	--bs-grayvar-900: #1B1E1F;
	--bs-surface-light1: #EDF2F5;
	--bs-surface-light2: #E6ECEF;
	--bs-surface-light3: #DEE5E9;
	--bs-surface-light4: #DCE3E7;
	--bs-surface-light5: #D7DFE3;
	--bs-surface-dark1: #21272A;
	--bs-surface-dark2: #242C31;
	--bs-surface-dark3: #273138;
	--bs-surface-dark4: #28333A;
	--bs-surface-dark5: #2A373E;
	--bs-sbd3: #872634;
	--bs-sld45: #A1A8B0;
	--bs-dark-rgb: 0, 255,0;
}

[data-bs-theme=dark] {
	--bs-dark-rgb: 32,39,42;
}

$grayvar-100: var(--bs-grayvar-100);
$grayvar-200: var(--bs-grayvar-200);
$grayvar-300: var(--bs-grayvar-300);
$grayvar-400: var(--bs-grayvar-400);
$grayvar-500: var(--bs-grayvar-500);
$grayvar-600: var(--bs-grayvar-600);
$grayvar-700: var(--bs-grayvar-700);
$grayvar-800: var(--bs-grayvar-800);
$grayvar-900: var(--bs-grayvar-900);


/* Background colors */
.bg-grayvar-100 { background-color: $grayvar-100; }
.bg-grayvar-200 { background-color: $grayvar-200; }
.bg-grayvar-300 { background-color: $grayvar-300; }
.bg-grayvar-400 { background-color: $grayvar-400; }
.bg-grayvar-500 { background-color: $grayvar-500; }
.bg-grayvar-600 { background-color: $grayvar-600; }
.bg-grayvar-700 { background-color: $grayvar-700; }
.bg-grayvar-800 { background-color: $grayvar-800; }
.bg-grayvar-900 { background-color: $grayvar-900; }
.bg-gray95 { background-color: var(--bs-gray-95); }
.bg-gray99 { background-color: var(--bs-gray-99); }
.bg-interactive { background-color: var(--bs-interactive) !important; }


.border-grayvar-100 { border-color: $grayvar-100; }
.border-grayvar-200 { border-color: $grayvar-200; }
.border-grayvar-300 { border-color: $grayvar-300; }
.border-grayvar-400 { border-color: $grayvar-400; }
.border-grayvar-500 { border-color: $grayvar-500; }
.border-grayvar-600 { border-color: $grayvar-600; }
.border-grayvar-700 { border-color: $grayvar-700; }
.border-grayvar-800 { border-color: $grayvar-800; }
.border-grayvar-900 { border-color: $grayvar-900; }



/* Colors */
// see --bs-body-color | $body-color: #1B1E1F;

/* Buttons: */
$btn-border-radius: 1rem;
$btn-border-width: 0;
$btn-padding-y: 1.375rem;
$btn-padding-x: 1.5rem;
/* 
$btn-padding-y: 1.40625rem;
$btn-padding-x: 2rem;
 */
$btn-font-size: 1.125rem;
$btn-font-weight: 600;

/* Text */
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-lg: 1.125rem;
$nav-link-font-size: 1rem;

/* Background colors */
$bg-light: #c4ccd0;

/* Offcanvas */
$offcanvas-horizontal-width: 35%;



/* these should probably be moved under inverse or navbar context:
	$accordion-bg: transparent;
	$accordion-color: #C7E3FC;
 */



/* then proceed in DOM order whenever possible: */
:root,
[data-bs-theme=light] {
	--ms-ring-color:#cacacab9 !important;
	--ms-spinner-color: #101820 !important;
}
@font-face {
	font-family: 'RobotoFlex';
	src: url('../node_modules/miles-styleguide/fonts/Roboto-Flex-variable.woff');
}

@font-face {
	font-family: 'Eurostile';
	src: url('../node_modules/miles-styleguide/fonts/Eurostile-LT-Medium.woff');
}

[data-bs-theme=light] {
	--vff-bg-color: #FFF;
}


/* Buttons: */
.btn, button, input[type="button"] {
	letter-spacing: .05em;
	line-height: 1.1 !important;
}
.btn-shadow {
	box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.35);
}
/* .btn:hover, button:hover, input[type="button"]:hover {
	box-shadow: 1px 4px 15px rgba(0, 0, 0, 0.4);
} */
.btn-md, .btn-group-md > .btn {
	--bs-btn-padding-y: 0.625rem !important;
	--bs-btn-padding-x: 0.625rem !important;
	--bs-btn-font-size: 0.875rem !important;
}
[data-bs-theme=light] .btn-primary {
	--bs-btn-hover-bg: #14374A;
	--bs-btn-active-bg: #244456;
	--bs-btn-disabled-bg: #DFDFE0;
	--bs-btn-disabled-color: #959697;
}
[data-bs-theme=light] .btn-primary:focus {
	--bs-btn-bg: #244456;
}
[data-bs-theme=light] .btn-secondary {
	--bs-btn-bg: #D4E3FF;
	--bs-btn-hover-bg: #C3D3EF;
	--bs-btn-active-bg: #B6C7E3;
	--bs-btn-color: #001C39;
	--bs-btn-hover-color: #001C39;
	--bs-btn-disabled-bg: #DFDFE0;
	--bs-btn-disabled-color: #88898A;
}
[data-bs-theme=light] .btn-secondary:focus {
	--bs-btn-bg: #B6C7E3;
}
[data-bs-theme=light] .btn-tertiary {
	--bs-btn-bg: #FEBE3F !important;
	--bs-btn-hover-bg: #FEC34E;
	--bs-btn-active-bg: #FEC75A;
	--bs-btn-color: var(--bs-primary) !important;
	--bs-btn-hover-color: var(--bs-primary);
	--bs-btn-active-bg: #FEC75A;
	--bs-btn-active-color: #271900;
	--bs-btn-disabled-bg: #1F4152;
	--bs-btn-disabled-color: #697F8A;
	--bs-btn-focus-shadow-rgb: 217, 164, 6;
}
[data-bs-theme=light] .btn-tertiary:focus {
	--bs-btn-hover-bg: #FEC75A;
}
[data-bs-theme=light] .btn-interactive, 
[data-bs-theme=dark] .btn-interactive { 
	--bs-btn-bg: var(--bs-interactive);
	--bs-btn-color: #fff;
	--bs-btn-hover-bg: #2772BD;/* guessed */
	--bs-btn-hover-color: #fff;
	--bs-btn-disabled-bg: #1F4152;
	--bs-btn-disabled-color: #697F8A;
}
[data-bs-theme=light] .btn-interactive:focus,
[data-bs-theme=dark] .btn-interactive:focus {
	--bs-btn-hover-bg: #2772BD;/* guessed */
}

[data-bs-theme=light] .btn-danger {
	background-color: #B3261E;
	color: #FFF !important;
}
[data-bs-theme=light] .btn-outline-primary {
	--bs-btn-border-color: var(--bs-grayvar-500);
	--bs-btn-border-width: 2px;
	--bs-btn-bg: transparent;
	--bs-btn-color: var(--bs-primary);
	--bs-btn-hover-bg: transparent;
	/*--bs-btn-hover-bg: #DBE9F0; how to do transparent @ 8%? */
	--bs-btn-hover-color: var(--bs-primary);
	--bs-btn-active-bg: #d4e3ff;/*E1E4E6*/
	--bs-btn-active-color: #454B4F;
	--bs-btn-active-border-color: #747A7E;
	--bs-btn-disabled-color: #697F8A;
	--bs-btn-disabled-border-color: rgba(69, 75, 79, 0.14);
}
.btn-outline-primary:hover {
	opacity: 0.92;
}
.btn-outline-primary:focus {
	opacity: 0.86;
}

/* Dark scheme/theme can be set globally or for a section/div: */
[data-bs-theme=dark],
[data-bs-theme=dark] body {
	--bs-body-bg: rgb(var(--bs-dark-rgb));
}
[data-bs-theme=dark] * {
	--vff-bg-color: var(--bs-primary);
	--bs-body-color: #f00;
	--bs-btn-bg: #f00;
}
[data-bs-theme=dark] .btn-primary {
	--bs-btn-bg: #89CEFF;
	--bs-btn-color: #285469;
	--bs-btn-hover-bg: #7EC2F1;
	--bs-btn-hover-color: #00344D;
	--bs-btn-active-bg: #76B8E6;
	--bs-btn-disabled-bg: #3B4144;
	--bs-btn-disabled-color: #7A7F82;
}
[data-bs-theme=dark] .btn-primary:focus {
	--bs-btn-hover-bg: #7A7F82;
}
[data-bs-theme=dark] .btn-secondary {
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-hover-bg: #1A5691;
	--bs-btn-active-bg: #235E98;
	--bs-btn-color: #BED9F1;
	--bs-btn-hover-color: var(--bs-primary90);
	--bs-btn-disabled-bg: #3B4144;
	--bs-btn-disabled-color: #7A7F82;
}
[data-bs-theme=dark] .btn-secondary:focus {
	--bs-btn-hover-bg: #235E98;
}
[data-bs-theme=dark] .btn-outline-primary {
	--bs-btn-border-color: var(--bs-grayvar-600);
	--bs-btn-color: var(--bs-primary80);
	--bs-btn-hover-border-color: #7C868A;
	--bs-btn-hover-bg: #18313B;
	--bs-btn-hover-color: var(--bs-primary80);
	--bs-btn-active-bg: #2A4453;
	--bs-btn-disabled-border-color: #30363A;
	--bs-btn-disabled-color: #696F71;
}
[data-bs-theme=dark] .btn-outline-primary:focus {
	--bs-btn-hover-bg: #2A4453;
}


@import "../bootstrap/scss/bootstrap";



/* Next - post-compile, extend/override Bootstrap here per style guide: */
:root,
[data-bs-theme=light] {
	--bs-link-color: #58595B;
	--bs-link-hover-color: #0168B7;
	--bs-border-radius-lg: 0.625rem;/* modify .border-3 per style guide */
	--bs-border-radius-xl: 0.9375rem;/* modify .border-4 per style guide */
	/* --bs-light: #f00;
	--bs-light-rgb: 255, 0, 0; */
	--bs-secondary-rgb: 14, 76, 135;
	--bs-heading-color: var(--bs-primary);
	--bs-body-color: var(--bs-gray-900);
}
.bg-opacity-5 { --bs-bg-opacity: 0.05; }
.bg-opacity-8 { --bs-bg-opacity: 0.08; }
.bg-opacity-11 { --bs-bg-opacity: 0.11; }
.bg-opacity-12 { --bs-bg-opacity: 0.12; }
.bg-opacity-14 { --bs-bg-opacity: 0.14; }


.bg-opacity-20 { --bs-bg-opacity: 0.2; }
.bg-opacity-30 { --bs-bg-opacity: 0.3; }
.bg-opacity-40 { --bs-bg-opacity: 0.4; }
.bg-opacity-60 { --bs-bg-opacity: 0.6; }
.bg-opacity-70 { --bs-bg-opacity: 0.7; }
.bg-opacity-80 { --bs-bg-opacity: 0.8; }
.bg-opacity-90 { --bs-bg-opacity: 0.9; }

.bg-gray-100 { background-color: var(--bs-gray-100); }
.bg-gray-200 { background-color: var(--bs-gray-200); }
.bg-gray-300 { background-color: var(--bs-gray-300); }
.bg-gray-400 { background-color: var(--bs-gray-400); }
.bg-gray-500 { background-color: var(--bs-gray-500); }
.bg-gray-600 { background-color: var(--bs-gray-600); }
.bg-gray-700 { background-color: var(--bs-gray-700); }
.bg-gray-800 { background-color: var(--bs-gray-800); }
.bg-gray-900 { background-color: var(--bs-gray-900); }
.bg-sld45 { background-color: var(--bs-sld45); }
.bg-sbd3 { background-color: var(--bs-sbd3); }

.bg-gray10 {background-color: var(--bs-gray10);}
.bg-gray20 {background-color: var(--bs-gray20);}
.bg-gray30 {background-color: var(--bs-gray30);}
.bg-gray40 {background-color: var(--bs-gray40);}
.bg-gray50 {background-color: var(--bs-gray50);}
.bg-gray60 {background-color: var(--bs-gray60);}
.bg-gray70 {background-color: var(--bs-gray70);}
.bg-gray80 {background-color: var(--bs-gray80);}
.bg-gray90 {background-color: var(--bs-gray90);}
.bg-gray95 {background-color: var(--bs-gray95);}
.bg-gray99 {background-color: var(--bs-gray99);}

.bg-gray-var10 {background-color: var(--bs-gray-var10);}
.bg-gray-var20 {background-color: var(--bs-gray-var20);}
.bg-gray-var30 {background-color: var(--bs-gray-var30);}
.bg-gray-var40 {background-color: var(--bs-gray-var40);}
.bg-gray-var50 {background-color: var(--bs-gray-var50);}
.bg-gray-var60 {background-color: var(--bs-gray-var60);}
.bg-gray-var70 {background-color: var(--bs-gray-var70);}
.bg-gray-var80 {background-color: var(--bs-gray-var80);}
.bg-gray-var90 {background-color: var(--bs-gray-var90);}
.bg-gray-var95 {background-color: var(--bs-gray-var95);}
.bg-gray-var99 {background-color: var(--bs-gray-var99);}

.bg-primary10 {background-color: var(--bs-primary10);}
.bg-primary20 {background-color: var(--bs-primary20);}
.bg-primary30 {background-color: var(--bs-primary30);}
.bg-primary40 {background-color: var(--bs-primary40);}
.bg-primary50 {background-color: var(--bs-primary50);}
.bg-primary60 {background-color: var(--bs-primary60);}
.bg-primary70 {background-color: var(--bs-primary70);}
.bg-primary80 {background-color: var(--bs-primary80);}
.bg-primary90 {background-color: var(--bs-primary90);}
.bg-primary95 {background-color: var(--bs-primary95);}
.bg-primary99 {background-color: var(--bs-primary99);}


.bg-secondary10 {background-color: var(--bs-secondary10);}
.bg-secondary20 {background-color: var(--bs-secondary20);}
.bg-secondary30 {background-color: var(--bs-secondary30);}
.bg-secondary40 {background-color: var(--bs-secondary40);}
.bg-secondary50 {background-color: var(--bs-secondary50);}
.bg-secondary60 {background-color: var(--bs-secondary60);}
.bg-secondary70 {background-color: var(--bs-secondary70);}
.bg-secondary80 {background-color: var(--bs-secondary80);}
.bg-secondary90 {background-color: var(--bs-secondary90);}
.bg-secondary95 {background-color: var(--bs-secondary95);}
.bg-secondary99 {background-color: var(--bs-secondary99);}

.bg-tertiary10 {background-color: var(--bs-tertiary10);}
.bg-tertiary20 {background-color: var(--bs-tertiary20);}
.bg-tertiary30 {background-color: var(--bs-tertiary30);}
.bg-tertiary40 {background-color: var(--bs-tertiary40);}
.bg-tertiary50 {background-color: var(--bs-tertiary50);}
.bg-tertiary60 {background-color: var(--bs-tertiary60);}
.bg-tertiary70 {background-color: var(--bs-tertiary70);}
.bg-tertiary80 {background-color: var(--bs-tertiary80);}
.bg-tertiary90 {background-color: var(--bs-tertiary90);}
.bg-tertiary95 {background-color: var(--bs-tertiary95);}
.bg-tertiary99 {background-color: var(--bs-tertiary99);}

.bg-danger10 {background-color: var(--bs-danger10);}
.bg-danger20 {background-color: var(--bs-danger20);}
.bg-danger30 {background-color: var(--bs-danger30);}
.bg-danger40 {background-color: var(--bs-danger);}
.bg-danger50 {background-color: var(--bs-danger50);}
.bg-danger60 {background-color: var(--bs-danger60);}
.bg-danger70 {background-color: var(--bs-danger70);}
.bg-danger80 {background-color: var(--bs-danger80);}
.bg-danger90 {background-color: var(--bs-danger90);}
.bg-danger95 {background-color: var(--bs-danger95);}
.bg-danger99 {background-color: var(--bs-danger99);}

.bg-success10 {background-color: var(--bs-success10);}
.bg-success20 {background-color: var(--bs-success20);}
.bg-success30 {background-color: var(--bs-success30);}
.bg-success40 {background-color: var(--bs-success);}
.bg-success50 {background-color: var(--bs-success50);}
.bg-success60 {background-color: var(--bs-success60);}
.bg-success70 {background-color: var(--bs-success70);}
.bg-success80 {background-color: var(--bs-success80);}
.bg-success90 {background-color: var(--bs-success90);}
.bg-success95 {background-color: var(--bs-success95);}
.bg-success99 {background-color: var(--bs-success99);}

.bg-warning10 {background-color: var(--bs-warning10);}
.bg-warning20 {background-color: var(--bs-warning20);}
.bg-warning30 {background-color: var(--bs-warning30);}
.bg-warning40 {background-color: var(--bs-warning40);}
.bg-warning50 {background-color: var(--bs-warning50);}
.bg-warning60 {background-color: var(--bs-warning60);}
.bg-warning70 {background-color: var(--bs-warning70);}
.bg-warning80 {background-color: var(--bs-warning);}
.bg-warning90 {background-color: var(--bs-warning90);}
.bg-warning95 {background-color: var(--bs-warning95);}
.bg-warning99 {background-color: var(--bs-warning99);}

.bg-info10 {background-color: var(--bs-info10);}
.bg-info20 {background-color: var(--bs-info20);}
.bg-info30 {background-color: var(--bs-info30);}
.bg-info40 {background-color: var(--bs-info40);}
.bg-info50 {background-color: var(--bs-info50);}
.bg-info60 {background-color: var(--bs-info60);}
.bg-info70 {background-color: var(--bs-info70);}
.bg-info80 {background-color: var(--bs-info);}
.bg-info90 {background-color: var(--bs-info90);}
.bg-info95 {background-color: var(--bs-info95);}
.bg-info99 {background-color: var(--bs-info99);}

.bg-interactive10 {background-color: var(--bs-interactive10);}
.bg-interactive20 {background-color: var(--bs-interactive20);}
.bg-interactive30 {background-color: var(--bs-interactive30);}
.bg-interactive40 {background-color: var(--bs-interactive40);}
.bg-interactive50 {background-color: var(--bs-interactive);}
.bg-interactive60 {background-color: var(--bs-interactive60);}
.bg-interactive70 {background-color: var(--bs-interactive70);}
.bg-interactive80 {background-color: var(--bs-interactive80);}
.bg-interactive90 {background-color: var(--bs-interactive90);}
.bg-interactive95 {background-color: var(--bs-interactive95);}
.bg-interactive99 {background-color: var(--bs-interactive99);}

.bg-surface-light1 {background-color: var(--bs-surface-light1);}
.bg-surface-light2 {background-color: var(--bs-surface-light2);}
.bg-surface-light3 {background-color: var(--bs-surface-light3);}
.bg-surface-light4 {background-color: var(--bs-surface-light4);}
.bg-surface-light5 {background-color: var(--bs-surface-light5);}

.bg-surface-dark1 {background-color: var(--bs-surface-dark1);}
.bg-surface-dark2 {background-color: var(--bs-surface-dark2);}
.bg-surface-dark3 {background-color: var(--bs-surface-dark3);}
.bg-surface-dark4 {background-color: var(--bs-surface-dark4);}
.bg-surface-dark5 {background-color: var(--bs-surface-dark5);}

.text-gray-100 { color: var(--bs-gray-100); }
.text-gray-200 { color: var(--bs-gray-200); }
.text-gray-300 { color: var(--bs-gray-300); }
.text-gray-400 { color: var(--bs-gray-400); }
.text-gray-500 { color: var(--bs-gray-500); }
.text-gray-600 { color: var(--bs-gray-600); }
.text-gray-700 { color: var(--bs-gray-700); }
.text-gray-800 { color: var(--bs-gray-800); }
.text-gray-900 { color: var(--bs-gray-900); }
.text-sld45 { color: var(--bs-sld45); }
.text-sbd3 { color: var(--bs-sbd3); }

.text-gray10 {color: var(--bs-gray10);}
.text-gray20 {color: var(--bs-gray20);}
.text-gray30 {color: var(--bs-gray30);}
.text-gray40 {color: var(--bs-gray40);}
.text-gray50 {color: var(--bs-gray50);}
.text-gray60 {color: var(--bs-gray60);}
.text-gray70 {color: var(--bs-gray70);}
.text-gray80 {color: var(--bs-gray80);}
.text-gray90 {color: var(--bs-gray90);}
.text-gray95 {color: var(--bs-gray95);}
.text-gray99 {color: var(--bs-gray99);}

.text-gray-var10 {color: var(--bs-gray-var10);}
.text-gray-var20 {color: var(--bs-gray-var20);}
.text-gray-var30 {color: var(--bs-gray-var30);}
.text-gray-var40 {color: var(--bs-gray-var40);}
.text-gray-var50 {color: var(--bs-gray-var50);}
.text-gray-var60 {color: var(--bs-gray-var60);}
.text-gray-var70 {color: var(--bs-gray-var70);}
.text-gray-var80 {color: var(--bs-gray-var80);}
.text-gray-var90 {color: var(--bs-gray-var90);}
.text-gray-var95 {color: var(--bs-gray-var95);}
.text-gray-var99 {color: var(--bs-gray-var99);}

.text-primary10 {color: var(--bs-primary10);}
.text-primary20 {color: var(--bs-primary20);}
.text-primary30 {color: var(--bs-primary30);}
.text-primary40 {color: var(--bs-primary40);}
.text-primary50 {color: var(--bs-primary50);}
.text-primary60 {color: var(--bs-primary60);}
.text-primary70 {color: var(--bs-primary70);}
.text-primary80 {color: var(--bs-primary80);}
.text-primary90 {color: var(--bs-primary90);}
.text-primary95 {color: var(--bs-primary95);}
.text-primary99 {color: var(--bs-primary99);}


.text-secondary10 {color: var(--bs-secondary10);}
.text-secondary20 {color: var(--bs-secondary20);}
.text-secondary30 {color: var(--bs-secondary30);}
.text-secondary40 {color: var(--bs-secondary40);}
.text-secondary50 {color: var(--bs-secondary50);}
.text-secondary60 {color: var(--bs-secondary60);}
.text-secondary70 {color: var(--bs-secondary70);}
.text-secondary80 {color: var(--bs-secondary80);}
.text-secondary90 {color: var(--bs-secondary90);}
.text-secondary95 {color: var(--bs-secondary95);}
.text-secondary99 {color: var(--bs-secondary99);}

.text-tertiary10 {color: var(--bs-tertiary10);}
.text-tertiary20 {color: var(--bs-tertiary20);}
.text-tertiary30 {color: var(--bs-tertiary30);}
.text-tertiary40 {color: var(--bs-tertiary40);}
.text-tertiary50 {color: var(--bs-tertiary50);}
.text-tertiary60 {color: var(--bs-tertiary60);}
.text-tertiary70 {color: var(--bs-tertiary70);}
.text-tertiary80 {color: var(--bs-tertiary);}
.text-tertiary90 {color: var(--bs-tertiary90);}
.text-tertiary95 {color: var(--bs-tertiary95);}
.text-tertiary99 {color: var(--bs-tertiary99);}

.text-danger10 {color: var(--bs-danger10);}
.text-danger20 {color: var(--bs-danger20);}
.text-danger30 {color: var(--bs-danger30);}
.text-danger40 {color: var(--bs-danger);}
.text-danger50 {color: var(--bs-danger50);}
.text-danger60 {color: var(--bs-danger60);}
.text-danger70 {color: var(--bs-danger70);}
.text-danger80 {color: var(--bs-danger80);}
.text-danger90 {color: var(--bs-danger90);}
.text-danger95 {color: var(--bs-danger95);}
.text-danger99 {color: var(--bs-danger99);}

.text-success10 {color: var(--bs-success10);}
.text-success20 {color: var(--bs-success20);}
.text-success30 {color: var(--bs-success30);}
.text-success40 {color: var(--bs-success);}
.text-success50 {color: var(--bs-success50);}
.text-success60 {color: var(--bs-success60);}
.text-success70 {color: var(--bs-success70);}
.text-success80 {color: var(--bs-success80);}
.text-success90 {color: var(--bs-success90);}
.text-success95 {color: var(--bs-success95);}
.text-success99 {color: var(--bs-success99);}

.text-warning10 {color: var(--bs-warning10);}
.text-warning20 {color: var(--bs-warning20);}
.text-warning30 {color: var(--bs-warning30);}
.text-warning40 {color: var(--bs-warning40);}
.text-warning50 {color: var(--bs-warning50);}
.text-warning60 {color: var(--bs-warning60);}
.text-warning70 {color: var(--bs-warning70);}
.text-warning80 {color: var(--bs-warning);}
.text-warning90 {color: var(--bs-warning90);}
.text-warning95 {color: var(--bs-warning95);}
.text-warning99 {color: var(--bs-warning99);}

.text-info10 {color: var(--bs-info10);}
.text-info20 {color: var(--bs-info20);}
.text-info30 {color: var(--bs-info30);}
.text-info40 {color: var(--bs-info40);}
.text-info50 {color: var(--bs-info50);}
.text-info60 {color: var(--bs-info60);}
.text-info70 {color: var(--bs-info70);}
.text-info80 {color: var(--bs-info);}
.text-info90 {color: var(--bs-info90);}
.text-info95 {color: var(--bs-info95);}
.text-info99 {color: var(--bs-info99);}

.text-interactive10 {color: var(--bs-interactive10);}
.text-interactive20 {color: var(--bs-interactive20);}
.text-interactive30 {color: var(--bs-interactive30);}
.text-interactive40 {color: var(--bs-interactive40);}
.text-interactive50 {color: var(--bs-interactive);}
.text-interactive60 {color: var(--bs-interactive60);}
.text-interactive70 {color: var(--bs-interactive70);}
.text-interactive80 {color: var(--bs-interactive80);}
.text-interactive90 {color: var(--bs-interactive90);}
.text-interactive95 {color: var(--bs-interactive95);}
.text-interactive99 {color: var(--bs-interactive99);}

.bg-secondary80 { background-color: var(--bs-secondary80);}
.bg-tertiary { background-color: var(--bs-tertiary); }
.bg-success80 { background-color: var(--bs-success80);}
.bg-warning80 { background-color: var(--bs-warning80);}
.bg-danger70 { background-color: var(--bs-danger70);}

.text-primary80 { color: var(--bs-primary80); }
.text-gray { color: var(--bs-gray); }
.text-gray-500 { color: var(--bs-gray-500); }
.text-grayvar-700 { color: var(--bs-grayvar-700); }
.text-interactive { color: var(--bs-interactive); }

/* missing from BS5: */
.opacity-5 {
	opacity: 0.05 !important;
}
.opacity-8 {
	opacity: 0.08 !important;
}
.opacity-11 {
	opacity: 0.11 !important;
}
.opacity-12 {
	opacity: 0.12 !important;
}
.opacity-14 {
	opacity: 0.14 !important;
}

// margins
.mt-45 {
	margin-top: 2rem !important;
}
.m-n1 {
	margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
	margin-top: -0.25rem !important;
}
.me-n1,
.mx-n1 {
	margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
	margin-bottom: -0.25rem !important;
}
.ms-n1,
.mx-n1 {
	margin-left: -0.25rem !important;
}
.m-n2 {
	margin: -0.5rem !important;
}
.mt-n2,
.my-n2 {
	margin-top: -0.5rem !important;
}
.me-n2,
.mx-n2 {
	margin-right: -0.5rem !important;
}
.mb-n2,
.my-n2 {
	margin-bottom: -0.5rem !important;
}
.ms-n2,
.mx-n2 {
	margin-left: -0.5rem !important;
}
.m-n3 {
	margin: -1rem !important;
}
.mt-n3,
.my-n3 {
	margin-top: -1rem !important;
}
.me-n3,
.mx-n3 {
	margin-right: -1rem !important;
}
.mb-n3,
.my-n3 {
	margin-bottom: -1rem !important;
}
.ms-n3,
.mx-n3 {
	margin-left: -1rem !important;
}
.m-n4 {
	margin: -1.5rem !important;
}
.mt-n4,
.my-n4 {
	margin-top: -1.5rem !important;
}
.me-n4,
.mx-n4 {
	margin-right: -1.5rem !important;
}
.mb-n4,
.my-n4 {
	margin-bottom: -1.5rem !important;
}
.ms-n4,
.mx-n4 {
	margin-left: -1.5rem !important;
}
.m-n5 {
	margin: -3rem !important;
}
.mt-n5,
.my-n5 {
	margin-top: -3rem !important;
}
.me-n5,
.mx-n5 {
	margin-right: -3rem !important;
}
.mb-n5,
.my-n5 {
	margin-bottom: -3rem !important;
}
.ms-n5,
.mx-n5 {
	margin-left: -3rem !important;
}

// buttons
.btn-group .btn-md.btn-outline-primary:not(:first-child) {
	border-left: none;/* correct double border on btn group outline */
}

// text
.fs-xl {
	font-size: 2rem !important;
}
.fs-xxl {
	font-size: 2.5rem !important;
}
.fs-huge {
	font-size: 8.75rem !important;
	font-weight: 600 !important;
}
// display font
.fd-lg {
	font-family: Eurostile !important ;
	font-weight: 600 !important ;
	font-size: 3.4375rem !important ;
}
.fd-md {
	font-family: Eurostile !important ;
	font-weight: 600 !important ;
	font-size: 2.875rem !important ;
}
.fd-sm {
	font-family: Eurostile !important ;
	font-weight: 600 !important ;
	font-size: 2.375rem !important ;
}
// primary font
.fp-lg {
	font-weight: 600 !important ;
	font-size: 3.4375rem !important ;
	line-height: 4rem !important ;
}
.fp-md {
	font-weight: 600 !important ;
	font-size: 2.875rem !important ;
}
.fp-sm {
	font-weight: 600 !important ;
	font-size: 2.375rem !important ;
}
// label font
.lb-lg {
	font-size: 0.875rem !important ;
	font-weight: 500 !important ;
	line-height: 1.25rem !important ;
	letter-spacing: 0.00625rem !important ;
}
.lb-md {
	font-size: 0.75rem !important ;
	font-weight: 500 !important ;
	line-height: 1rem !important ;
	letter-spacing: 0.03125rem !important ;
}
.lb-sm {
	font-size: 0.625rem !important ;
	font-weight: 500 !important ;
	line-height: 1rem !important ;
	letter-spacing: 0.03125rem !important ;
}
